
projectsheets.length > 0
<div class="row container">

    <div id="content" class="listing" ng-controller="ProjectSheetListCtrl"  ng-init="init(12)">

        <div class="col-md-12">

            <div class="row">
                <div class="col-md-9">
                    <ng-include src="'views/catalog/block/list_counter.html'" style="position:absolute;left: 50%;"></ng-include>

                    <tabset class="nav-tabs-listing">
                        <tab heading="Aperçu">

                            <div class="boxes boxes-small boxes-projects" >
                                <div class="box" ng-repeat="projectsheet in projectsheets">
                                    <ng-include src="'views/catalog/block/project_thumb.html'" ng-init="project=projectsheet.project; cover=projectsheet.cover"></ng-include>
                                </div><!-- .box -->
                            </div><!-- .boxes -->
                            
                        </tab>
                        <tab heading="Détaillés">
                            ... coming soon
                            <div class="boxes boxes-small boxes-projects" >
                                <div class="box" ng-repeat="projectsheet in projectsheets">
                                    <ng-include src="'views/catalog/block/project_thumb.html'" ng-init="project=projectsheet.project"></ng-include>
                                </div><!-- .box -->
                            </div><!-- .boxes -->
                        </tab>
                        <tab heading="Carte" ng-click="showMap=true">
                            <div ng-if="showMap" class="map" ng-controller="ImaginationProjectsMapCtrl">
                                <leaflet id="projectsmap" defaults="defaults" markers="markers" center="center" height="700px" ></leaflet>
                            </div>
                        </tab>
                    </tabset>
                    <ng-include ng-show="projectsheets.length > 0" src="'views/catalog/block/list_counter.html'" style="position: absolute;left: 41%;bottom: 133px;"></ng-include>
                    <a ui-sref="project.new" class="large large-red">Créer un projet</a>

                </div>
                <div class="col-md-3">
                    <ng-include onload="objectType='project'" src="'views/catalog/block/filters.html'"></ng-include>
                </div>

        </div><!-- .col-md-12 -->

    </div><!-- #content -->

</div><!-- .row .container -->
