<style type="text/css">
.editable-buttons{
    float:left;
    margin:5px;
    margin-left:-10px;
}

</style>

<div class="modal-header">
    <h3 class="modal-title">Geolocalisation d'un projet</h3>
</div>
<div class="modal-body">
    <div style="float:right;width:40%">
        <p>Geolocalisez en modifiant l'adresse ci-dessous</p>
        <h4><b>Localisation</b></h4>
        <!-- Pays -->
        <div class="editable">
            <p>Pays</p>
            <a class="country" href="#" editable-select="project.location.address.country"
                        e-ng-options="p.id as p.text for p in countryData"
                        >
                <em>{{ showCountry(project.location.address.country) || '(pays inconnu)' }}</em>
            </a>
        </div>
        <!-- Adresse -->
        <div class="editable" style="">
            <p>Adresse</p>
            <p editable-text="project.location.address.street_address"
                >
                {{ project.location.address.street_address || '(adresse inconnue)' }}
            </p>
        </div>
        <button class="btn" type="button" ng-click="geocode()">Geolocaliser</button>
    </div>
    <div class="geocodingmap">
        <leaflet id="geocodingmap" defaults="defaults" markers="markers" center="center" 
        width="500px" height="500px"></leaflet>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
