// Quick Font adding

@import url(http://fonts.googleapis.com/css?family=Merriweather);

// variable

$unit : 3rem;

$heading-font : latoregular;
$text-font : 'Merriweather';

$primary-color : #2397D0;
$primary-color-medium : #63ADD0;
$primary-color-light : tint($primary-color,40%);


$secondary-color : #EA5457;
$secondary-color-medium : tint($secondary-color,80%);
$secondary-color-light : tint($secondary-color,40%);

$alternate-color : #575756;
$alternate-color-medium : tint($alternate-color,80%);
$alternate-color-light : tint($alternate-color,40%);

$font-color : white;
$heading-font-color : white;

// Settings

$module-bkg-color : $primary-color;

$module-icon-bkg-color : $primary-color ;
$module-icon-color : $heading-font-color;

$module-header-bkg-color : $alternate-color;
$module-header-color : $heading-font-color;
$module-header-font : $heading-font;

$module-views-icon-bkg-color : $alternate-color;
$module-views-icon-color : $heading-font-color;
$module-views-icon-hover-bkg-color : $secondary-color;
$module-views-icon-hover-color : $heading-font-color;;
$module-views-icon-active-bkg-color : $secondary-color ;
$module-views-icon-active-color : $heading-font-color;;

$module-search-form-bkg-color : $secondary-color;
$module-search-form-color : $heading-font-color;
$module-search-icon-bkg-color : $secondary-color;
$module-search-icon-hover-bkg-color : $heading-font-color;;
$module-search-icon-hover-color : $secondary-color-medium;

$module-main-bkg-color : $primary-color-medium ;
$module-main-color : $font-color;
$module-main-heading-font : $heading-font;
$module-main-heading-font-size : 1rem;
$module-main-heading-font-color : $heading-font-color;
$module-main-content-font : $text-font;
$module-main-content-font-size : 0.8rem;
$module-main-content-font-color : $font-color;

$module-aside-bkg-color : $primary-color-light ;
$module-aside-color : $font-color;

$module-aside-filter-icon-bkg-color : $primary-color;
$module-aside-filter-icon-color : $heading-font-color;
$module-aside-filter-heading-bkg-color : $primary-color;
$module-aside-filter-heading-color : $heading-font-color;
$module-aside-filter-heading-font : $heading-font;
$module-aside-filter-heading-font-color : $heading-font-color;;
$module-aside-filter-font : $text-font ;
$module-aside-filter-font-color : $font-color ;

/*
$module-aside-about-icon-bkg-color : ;
$module-aside-about-icon-color : ;
$module-aside-about-heading-bkg-color : ;
$module-aside-about-heading-color : ; */


